@font-face {
  font-family: GentiumPlusW;
  src: url(GentiumPlus-R.woff);
}

:root {
    --vh: 1vh;
}

html {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: hidden;
    font-family: GentiumPlusW, sans-serif;
    font-weight: 300;
    text-rendering: optimizelegibility;
    background-color: #ccc;
    background-image: url(../pages/0_frame.png);
    background-size: 25vw calc(100 * var(--vh));
}

b {
    font-weight: bold;
}

a, a:visited {
    color: #1458a6;
}

#flip {
	width: calc(150 * var(--vh));
	height: calc(100 * var(--vh));
}

.page {
    background-color: white;
}

.bg {
    position: absolute;
    left: 0;
    height: calc(100 * var(--vh));
}

.intro {
    position: absolute;
    left: 56%;
    width: 38%;
    top: 5%;
    font-size: calc(2.8 * var(--vh));
    text-align: center;
}

.lefttitle {
    position: absolute;
    font-size: calc(4.8 * var(--vh));
    width: 25%;
    left: 12.5%;
    top: 25.7%;
    color: #347896;
    text-shadow: 0 0 4px #5a3114;
    text-align: center;
    line-height: 120%;
    font-weight: bold;
}

.pretitle {
    color: #5a3114;
    font-size: 140%;
    font-weight: bold;
    margin: 1em 0;
}

.maintitle {
    color: #666;
    font-size: 120%;
}

.helptext {
    color: #7a5134;
}

.credits {
    position: absolute;
    left: 53%;
    width: 44%;
    top: 56%;
    font-size: calc(2.5 * var(--vh));
    text-align: center;
    color: #666;
}

.credits p {
    margin: 0.4em 0;
}

.initial {
    float: left;
    padding-right: 0.5em;
    width: calc(8 * var(--vh));
}

.text {
    position: absolute;
    left: 55%;
    width: 40%;
    top: 5%;
    overflow: hidden;
    font-size: calc(4 * var(--vh));
    text-align: justify;
    line-height: 150%;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.text-scroll {
    position: absolute;
}

.ctext {
    position: absolute;
    font-size: calc(2.2 * var(--vh));
    width: 35%;
    color: #5a3114;
}

.play-button {
    position: absolute;
    top: calc(100*var(--vh) - 7.5em);
    left: calc(100% - 7.5em);
    width: 7.5em;
    height: 7.5em;
}

.star {
    position: absolute;
    width: 5em;
    height: 5em;
}

.image {
    position: absolute;
    display: none;
}

#images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    background-color: #FFFFFF80;
}
